<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gew&uumlrzheini24.de</title>
<link rel="stylesheet" type="text/css" href="templates/css/layout.css">
</head>
<body>

	<div id="overview">
		
		<div id="cart">
			{cart}
		</div>
		
		<div id="header">
			<h1><a href="/index.php"> Gew&uumlrzheini24.de </a></h1>
		</div>
		
		<div id="main">
		
			<div id="navigation">
				{navigation}
			</div>
				
			<div id="content">
				{content}
			</div>
		</div>
	
		<div id="footer">
			{footer}
		</div>
		
	</div>



</body>
</html>