body{
	background: gray;
}

#overview{
	width: 1200px;
	
	margin: 0 auto;
	
	background: green;
	border-radius: 20px;	
}

#cart{
	float: right;
	width: 300px;	
	height: 100px;
	
    background-color: rgba(105, 105, 105, 0.84);
	
	border-radius: 20px;
	
}

#header{
	width: 900px;
	height: 100px;
	
	background: darkgray;
	
	border-radius: 20px;
	
}

#header h1{	
	font-size: 90px;
	font-weight: bold;
	
	color: gray;
	
	text-align: center;
}

#header a:link{
	color: gray;
	text-decoration: none;	
}

#header a:visited{
	color: gray;	
	text-decoration: none;	
}

#header a:hover{
	color: gray;
	text-decoration: none;		
}

#header a:active{
	color: gray;
	text-decoration: none;	
}

#main{
	width: 1200px;
	background: green;
}

#navigation{
	float: left;
	
	//height: 400px;
	width: 300px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	
	background: white;
	
	border-radius: 20px;
	
}

#navigation ul{
	list-style-type: none;
	list-style-position: inside;	
}

#content{
	float: right;
	
	width: 870px;
	//height: 500px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	
	background: white;
	
	border-radius: 20px;		
}

#navigation a:link{
	color: black;
	text-decoration: none;	
}

#navigation a:visited{
	color: black;	
	text-decoration: none;	
}

#navigation a:hover{
	color: green;
	text-decoration: none;		
}

#navigation a:active{
	color: black;
	text-decoration: none;	
}

.quantity{
	width: 3em;
	
	value: 1;
}

.centered{
	align: center;
	text-align: center;
}

.centeredLink{
	align: center;
}

.detail_img{
	height: 300px;
	width: 300px;
	margin: 0 auto;
}
.article_img{
	width: 20%;
	border: 5px solid gray;
}

.article_description{
	width:80%;
	text-align: center;
	border: 5px solid gray;
}

#p{
	margin-left: 10px;
	margin-right: 10px;	
}

#content table{
	width: 90%;
	margin-left: 5%;
	margin-top:5%;
	margin-bottom:5%;
	
}

#cart table{
	width: 90%;
	margin-left: 5%;
	margin-top:0%;
	margin-bottom:5%;
}

#cart div{
	width: 90%;
	margin-left: 5%;
	margin-top:5%;
	margin-bottom:5%;
}

.error{
	width: 90%;
	margin-left: 5%;
	margin-top:5%;
	margin-bottom:0px;
    color: red;
}


#footer{
	width: 1200px;
	height: 50px;
	
	background: darkgray;
	
	clear: both;
	
	border-radius: 20px;	
}

#footer td{
	width: 400px;
	text-align: center;
	vertical-align: middle;
}
